// Mixins Here
.border-styler () {
    border: 1px solid red; 
}


.button-styler (@color, @bg-color) {
    color:@color;
    background-color:@bg-color;
    width: 34%;
    height: 30px;
    font-size: 1.6rem;
    border-radius: 7px;
  }
  